<template>
  <main class="page">
    <slot name="top" />

    <Content class="theme-default-content" />

    <!-- <div class="theme-default-content" >
      <div class="test">
        <h1> Hi there </h1>
        <p> this will be info </p>
      </div>
    </div> -->

    <slot name="bottom" />
  </main>
</template>

<script>
export default {
}
</script>

<style lang="stylus">
@require '../styles/wrapper.styl'
.test
  background-color gainsboro
  border-radius 10px
  padding 10px 0px

.page
  padding-bottom 2rem
  display block

</style>
